<table>
    <tr>
        <td>No.</td>
        <td>Data</td>
        <td>Isian</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Nama</td>
        <td>[Nama Lengkap Calon Siswa]</td>
    </tr>
    <tr>
        <td>2</td>
        <td>No Telepon</td>
        <td>[Nomor Telepon Calon Siswa]</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Agama</td>
        <td>[Agama Calon Siswa]</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Tanggal Lahir</td>
        <td>[Tanggal Lahir Calon Siswa]</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Tempat Lahir</td>
        <td>[Tempat Lahir Calon Siswa]</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Asal Sekolah</td>
        <td>[Nama Asal Sekolah Calon Siswa]</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Alamat</td>
        <td>[Alamat Calon Siswa]</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Jenis Kelamin</td>
        <td>[Jenis Kelamin Calon Siswa]</td>
    </tr>
</table>