<table>
    <tr>
        <td>No.</td>
        <td>Nama</td>
        <td>No Telepon</td>
        <td>Agama</td>
        <td>Tgl Lahir</td>
        <td>Tempat Lahir</td>
        <td>Asal Sekolah</td>
        <td>Alamat</td>
        <td>JK</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>1</td>
        <td>[Nama Lengkap 1]</td>
        <td>[No Telepon 1]</td>
        <td>[Agama 1]</td>
        <td>[Tgl Lahir 1]</td>
        <td>[Tempat Lahir 1]</td>
        <td>[Asal Sekolah 1]</td>
        <td>[Alamat 1]</td>
        <td>[JK 1]</td>
        <td>[Action 1]</td>
    </tr>
    <tr>
        <td>2</td>
        <td>[Nama Lengkap 2]</td>
        <td>[No Telepon 2]</td>
        <td>[Agama 2]</td>
        <td>[Tgl Lahir 2]</td>
        <td>[Tempat Lahir 2]</td>
        <td>[Asal Sekolah 2]</td>
        <td>[Alamat 2]</td>
        <td>[JK 2]</td>
        <td>[Action 2]</td>
    </tr>
    <tr>
        <td>3</td>
        <td>[Nama Lengkap 3]</td>
        <td>[No Telepon 3]</td>
        <td>[Agama 3]</td>
        <td>[Tgl Lahir 3]</td>
        <td>[Tempat Lahir 3]</td>
        <td>[Asal Sekolah 3]</td>
        <td>[Alamat 3]</td>
        <td>[JK 3]</td>
        <td>[Action 3]</td>
    </tr>
    <tr>
        <td>4</td>
        <td>[Nama Lengkap 4]</td>
        <td>[No Telepon 4]</td>
        <td>[Agama 4]</td>
        <td>[Tgl Lahir 4]</td>
        <td>[Tempat Lahir 4]</td>
        <td>[Asal Sekolah 4]</td>
        <td>[Alamat 4]</td>
        <td>[JK 4]</td>
        <td>[Action 4]</td>
    </tr>
    <tr>
        <td>5</td>
        <td>[Nama Lengkap 5]</td>
        <td>[No Telepon 5]</td>
        <td>[Agama 5]</td>
        <td>[Tgl Lahir 5]</td>
        <td>[Tempat Lahir 5]</td>
        <td>[Asal Sekolah 5]</td>
        <td>[Alamat 5]</td>
        <td>[JK 5]</td>
        <td>[Action 5]</td>
    </tr>
</table>