<table>
    <tr>
        <td>No.</td>
        <td>Data</td>
        <td>Isian</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Nama Ayah</td>
        <td>[Nama Lengkap Ayah]</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Pekerjaan Ayah</td>
        <td>[Pekerjaan Ayah]</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Penghasilan Ayah</td>
        <td>[Penghasilan Ayah] (dalam Rupiah)</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Nama Ibu</td>
        <td>[Nama Lengkap Ibu]</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Pekerjaan Ibu</td>
        <td>[Pekerjaan Ibu]</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Penghasilan Ibu</td>
        <td>[Penghasilan Ibu] (dalam Rupiah)</td>
    </tr>
    <tr>
        <td>7</td>
        <td>No Telepon Orang Tua</td>
        <td>[Nomor Telepon Orang Tua]</td>
    </tr>
</table>